*,*:active {
  outline:none;
 }
 ::-webkit-scrollbar {
   width: 6px;
   height: 5px;
   background-color:transparent;
 }
 ::-webkit-scrollbar-thumb {
   background-color: #1b76ed;
 }
 body {
  padding: 0;
  line-height: 1.5;
  margin: 0;
  font-family:monR, helvetica, serif;
  width: 100%;
  height: 100%;
 }

 .links {
  text-decoration: none !important;
  color: white;

}

a:links {
  text-decoration: none;
}

.linkk {
  display: inline-block;
  margin-right: 30px; /* Adjust the spacing as needed */
  color: black;
  font-size: 10px;
}

.mg {
  margin-left: 13px;
}

.mayowadigitallogo {
  width: 60px;
  height: 50px;
}

.nav {
   width: 100%;
   position: fixed;
   z-index: 100;
   height: 45px;
   background-color: white;
   box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
   display: inline-grid;
   align-items: center;
  }

  .span.links {
    text-decoration: none;
  }

  navadmin {
    width: 100%;
    position: fixed;
    z-index: 100;
    height: 30px;
    background-color: #008aff;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
    display: inline-grid;
    align-items: center;
   }


 nav .links {
  padding: 10px 30px;
  font-size: 10px;
  text-decoration: none;

 }
 
 /* nav .last {
 
 } */
 .centered {
   text-align: center;
 }

 .container{
  display:flex;
}

.sidebar{
  background: #008aff;
  color: #fff;
  height: 100%;
  width: 200px;
  transition: all 0.5s;
  position: fixed;
  top: 0;
  left: 0;
}
.top_section{
  display: flex;
  align-items:center;
  padding:40px 15px;
}
.logo{
  font-size: 20px;
}
.bars{
  display: flex;
  font-size: 15px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 10px;
  transition: all 0.5s;
  text-decoration: none;
}

.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.link_text{
  font-size: 12px;
}

.iconb {
  font-size: 15px;
}




 .right {
   text-align: right !important;
 }
 .bg-color-code-2 {
   background-color:#1b76ed;
 }
 .bg-color-code-2 {
   background-color:#dce1e6;
 }

 .bg-blue {
  background-color: #1b76ed;
 }

 .color-code-1 {
   color:#1b76ed ;
 }
 .extension {
   position: absolute;
   display: inline-block;
 }
 .nav-extentions {
   position:absolute;
   top: 0;
   z-index: 100;
   width: 200px;
   padding-bottom: 10px;
   margin-top: 20px;
   border-radius: 10px;
   display:none;
   text-align: left !important;
   margin-left: -50px;
   background-color:white;
   text-decoration: none;
 }
 .ex-links {
   display: inline-grid;
   align-items: center;
   font-size: 11px;
   text-indent: 10px;
   color: #555;
   width: 100%;
   transition: .3s ease-in;
   height: 40px;
   text-decoration: none;
 }

 .nav-extentions .ex-links:hover {
  background-color: #1b76ed;
  color: white !important;
  transition: .3s ease-in;
 }

 .mg-3 {
   margin-left: 10px;
 }

 .mg-6 {
  margin-left: 50px;
}

.mg-9 {
  margin-left: 120px;
}

.mg-85 {
  margin-left: 110px;
}

.mg-95 {
  margin-left: 130px;
}

.mg-99 {
  margin-left: 100px;
}

 .mg-2 {
  margin-left: 5px;
}

 .mg-5 {
  margin-left: 20px;
 }
 .mg-10 {
   margin-left:150px;
 }

 .mg-11 {
  margin-left: 164px;
 }
 .mg-8 {
  margin-left: 80px;
 }
 .lab {
  width: 400px;
 }
 .research2 {
  width: 400px
 }
 .extension:hover .nav-extentions{
   display: block;
 }
 .bg-color-code-1 {
  background-color: #1b76ed;
 }

 .text-white {
  color: white;
 }


 .bg-black {
  background-color: black;
 }

 .post-container {
  margin-bottom: 10px; /* Add margin to create spacing between posts */
}

 .bg-grey {
  background-color: #555;
 }

 .logoicons {
  width: 200px;
  border-radius: 50px;

 }
 .bg-landing {
   width: 100%;
   height: 200px;
   background-image: url(images/bme\ gene.png);
   background-repeat: no-repeat;
   background-size: cover;
 }
 .r-landing {
  background-image: url(images/bme\ gene.png);
  width:100%; /* Ensure the image does not exceed its container */
  height: 350px; /* Maintain the image's aspect ratio */
  background-repeat: no-repeat;
  background-size: cover;
 }

 .black {
  color: #000000;
 }
 .dark-scarf {
   width: 100%;
   height: 100%;
  background-color:rgba(0, 0, 0, 0.6);
 }
 .last-child .links {
   padding: 10px 10px !important;
   text-decoration: none !important;
 }
 .input {
   width: 100%;
   height: 40px;
   text-indent: 20px;
   border: solid 2px transparent !important;
   border-radius: 10px;
   border-top-right-radius: unset;
   border-bottom-right-radius: unset;
 }
 .input:focus {
   border:solid 2px #1b76ed !important;
   transition: .3s ease-in-out;
 }
 .submit-btn {
   display: inline-block;
   text-align: center;
   cursor: pointer;
   color: white;
   width: 100px;
   /* margin-left: 10px; */
   /* margin-top: px; */
   border-radius: 10px;
   height:46px;
   border-top-left-radius: unset;
   border-bottom-left-radius: unset;
 }

 .submit-btn i {
  padding-top: 7px;
 }
 .img-container{
   width: 100%;
   height: 200px;
   overflow: hidden;
 }
 .img-container img {
   width: 100%;
   height: 100%;
   object-fit:cover;
 }
 .my-mother{
   width: 100%;
   position: relative;
   float: left;
 }

 .text-g {
  margin-left: 41px;
  padding-top: 5px;
  color: black;
 }
 .my-bottom-20 {
   padding-bottom: 20px;
 }
 .btn-sm-card {
   padding: 10px 15px;
   box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
   border-radius:10px;
   cursor: pointer;
 }

 .my-container{
  width:96%;
  float: left;
  margin-left: 2%;
  position: relative;
 }

 .roundbox {
  width:96%;
  float: left;
  margin-left: 2%;
  position: relative;
  border-radius: 30px;
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
 }

 .normalsize {
  width: 300px;
  height: 180px;
 }

 .box {
  width: 330px;
  height: 150px;
  background-color: black;
  border-radius: 20px;
  margin-left: 35px;
 }

 .greenbox {
  width: 330px;
  height: 150px;
  border-radius: 20px;
  margin-left: 35px;
  background-color: #cde966;
 }

 .darkgreenbox {
  width: 330px;
  height: 150px;
  border-radius: 20px;
  margin-left: 35px;
  background-color: #005344;
 }

 .off {
  margin-left: 10px;
 }

 .purplebox {
  width: 330px;
  height: 150px;
  background-color: #B99FEA;
  border-radius: 20px;
  margin-left: 35px;
 }

 .yellowfrontbox {
  width: 330px;
  height: 150px;
  border-radius: 20px;
  margin-left: 78px;
  background-color: #FF9211;
 }


 .redbox {
  width: 330px;
  height: 150px;
  background-color: #95120B;
  border-radius: 20px;
  margin-left: 35px;
 }

 .frontbox {
  width: 330px;
  height: 150px;
  background-color: #000000;
  border-radius: 20px;
  margin-left: 78px;
 }


 .y-container {
  width: 90%;
  float: left;
  position: relative;
  margin-left: 150%;
 }

 .bg-purple {
  background-color: #B99FEA;
 }

 .iconwidth {
  width: 50px;
 }

 .iconwidthleft {
  width: 50px;
  margin-left: 30px;
 }

 .iconoff {
  margin-left: 80px;
 }


 .x-container{
  width:50%;
  position: relative;
 }

 .textdown {
  margin-top: 75px;
 }

 .textdown1 {
  margin-top: 70px;
 }

 .iconleft {
  margin-left: 110px;
 }

 .iconleft1 {
  margin-left: 120px;
 }

 .icondown {
  margin-top: 105px;
 }

 .yahaya {
  width: 200px;
 }

 .centerimage {
  margin-left: 300px;
 }

 .login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 160px;
}

 .faq-section {
  margin-left: 128px;
  box-sizing: content-box;
 }

 .accordion-container {
  margin: 20px auto;
  width: 50%;
  background-color: #ffffff; /* White background */
  border-radius: 8px;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.accordion-container.open {
  background-color: #f0f0f0; /* Light gray background when open */
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
}

.expendable-column {
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expendable-column.open {
  background-color: #f0f0f0; /* Light gray background when open */
}

.text-container {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.underline {
  height: 1px;
  background-color: #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

.researchimage-container {
  max-width: 100%; /* Set a maximum width for the image container */
  margin: 0 auto; /* Center the image container horizontally */
}

.researchimage-container img {
  display: block; /* Remove any default inline spacing */
  max-width:100%; /* Ensure the image does not exceed its container */
  height: 80vh; /* Maintain the image's aspect ratio */
  margin: 0 auto;
}

/* Slider container */
.slider-container {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

/* Image */
.slider-image {
  width: 100%;
  height: 90vh;
  object-fit: cover; /* Make the image cover the container */
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px; /* Adjust the width as needed for your circle */
  height: 40px; /* Equal width and height for a circle */
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%; /* Makes the button a circle */
  text-align: center;
  line-height: 40px; /* Vertically centers the button text */
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex; /* Make the buttons use flex layout */
  justify-content: center; /* Horizontally center the icon */
  align-items: center; /* Vertically center the icon */
  font-size: 20px; /* Adjust the font size as needed */
}

.prev-button {
  left: 30px; /* Adjust the position as needed */
}

.next-button {
  right: 30px; /* Adjust the position as needed */
}

.prev-button:hover,
.next-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.resd {
  width: 300px;
  border-radius: 20px;
}

.blue {
  color:#008aff;
}

.biologo {
  width: 200px;
}

.inputbox {
  width: 250px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #000; /* Thin black border */
  transition: border-width 0.3s;
}

.inputbox:focus {
  border-width: 2px; /* Bolder border when focused */
  outline: none; /* Remove the default focus outline (for accessibility) */
}

.loginx {
  background-color: #454545;
  border: 1px solid black;
  width: 70px;
  height: 30px;
  color: white;

}

.inputcss {
  margin-left: 75px;
}

.loginlogod {
  width: 200px;
}

.form-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group input[type="text"]:focus,
.form-group input[type="url"]:focus {
  border-color: #007bff; /* Change the border color on focus */
  outline: none;
}
.ul.footermenu {
  list-style: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Style table headers */
.table th {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

/* Style table rows */
.table td {
  border: 1px solid #ccc;
  padding: 10px;
}

/* Style table row hover effect */
.table tbody tr:hover {
  background-color: #f5f5f5;
}

/* Style action buttons inside table cells */
.table .btn {
  margin-right: 5px;
}

.r-container {
  justify-content: center;
  align-items: center;
  min-height: 200px; /* Adjust this height as needed */
  background-color: #1b76ed;
  width:200px;
  padding-left: 50px;
}

.text-box {
  position: absolute;
  background-color: black;
  right: 450px;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  top: 140px;
}

.search-bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.search-bar-wrapper {
  display: flex;
  flex-direction: row; /* Display children side by side */
  align-items: center; /* Vertically center items */
}

.search-g {
  width: 300px;
}

.my-modal {
  width: 100%;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.6);
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed ;
}

.my-btn-sm {
  display:inline-grid;
  padding: 10px;
  border: unset;
}

.selected-item-box {
  display: flex;
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 10px;
}

.selected-item-box i {
  margin-left: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #007bff;
  color: white;
}

.open .dropdown-menu {
  display: block;
}

.item-box {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 10px;
  width: 93px;
}


.search-input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  width: 100%;
}


.accordionplus {
  align-items: center;
  margin-bottom: 1px;
  overflow: hidden;
  background-color: #007bff;
  width: 500px;
}

.accordionplus-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  cursor: pointer;
  height: 22px;
  color: white;
}

.accordionplus-header h3 {
  margin: 0;
  color: white;
}

.accordionplus-content {
  padding: 10px 20px;
  size: 30px;
  color: white;
}

.acccordionplus-title {
  size: 10px;
  color: white;
}

.faq-section {
  width: 100px;
  text-align: center;
}


.text-unlock p {
  text-align: justify;
  line-height: 1.5;
  width: 500px;
}

.section-white {
	background: #fff;
	padding: 70px 0;
}

.icon {
  font-size: 50px;
}

.laboratory {
  margin-left: 200px;
}

.research1 {
  width: 500px;
  height: 50vh;
}

.team-icon i {
  text-align: center;
  line-height: 34px;
}

.menu-icon {
  display: none;
}

.faded {
  color: #555 !important;
}
@keyframes fade-in  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  position: fixed !important;
  animation: fade-in 0.1s 1 ease-in forwards;
}
.mgl-5 {
  margin-left: 5px;
}

.bg-faded {
  background-color: #f3f3f3;
}
.bg-white {
  background-color: white !important;
}
.rad-10 {
  border-radius: 10px;
}
.justify {
  text-align: justify ;
}
.btn:hover {
  background-color:rgba(0, 0, 0, 0.1);
  transition: .5s ease-in-out;
}
.profile-pics {
  display: inline-grid;
  width: 40px;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 50%;
  /* background-color: #fff; */
}
.profile-pics-2 {
  display: inline-grid;
  width: 50px;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 50%;
  /* background-color: #fff; */
}
.red {
  color: red;
}
.indicator {
  display: inline-block;
  width: 100%;
  height: 2px;
}
.mgl-10 {
  margin-left: 20px;
}
.d-none {
  display: none;
}
.ov-scroll {
  overflow-y: scroll !important;
  display: block;
  overflow-x: hidden;
  width: 100%;
  height: 200px;
  /* overflow-x: hidden; */
}
.ov-scroll::-webkit-scrollbar {
  width: 6px;
  height: 5px;
  background-color:transparent;
  display: none;
}
@keyframes bgS {
  from {
   background-size: 100%; 
  }50%{
    background-size: 150%; 
  }to {
    background-size: contain; 
  }
}
.bg-deco {
  position: fixed;
  height: 100vh;
  background-repeat: no-repeat;
  opacity: 0.8;
  width: 100%;
  background-size: contain;
  background-position:center;
  animation: bgS 30s infinite ease-in-out;
  background-image: url(images/bme\ gene.png);
}
.bg-yellow {
  background-color:rgb(167, 167, 6);
}

.my-b-shadow {
  box-shadow: 0px 2px 16px rgba(0, 0, 0 ,0.1);
}

.clay {
  padding-left: 6rem;
}
.d-none-imp {
  display: none !important;
}
.left {
  text-align: left !important;
}
.file-upload {
  width: 100%;
  height: 50px;
  color: black;
  border:dashed 1px #1b76ed;
  background-color: #f3f3f3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.file-upload-text {
  width: 95%;
  height: 200px;
  resize: unset;
  font-family: monR;
  font-size: 13px;
  padding-top: 10px;
  padding-inline: 10px;
}
.ov-scroll-search {
  overflow-y: scroll;
  height: 200px;
  padding-bottom: 50px;
}
.bd-bottom {
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}
.fade-1 {
  color: #dce1e6;
}
.pd-10 {
  padding: 30px;
  display: block;
  /* width: 100%; */
}


.text-about {
  width: 60%;
  font-size: 12px;
}

.typewriter-container {
  display: inline-block;
  font-size: 24px;
}

.static-text {
  font-weight: bold;
  color: white;
}

.typing-text {
  display: inline-block;
  border-right: 0.15em solid orange; /* Cursor animation */
  white-space: nowrap;
  color: white;
}

/* Add a cursor animation */
@keyframes typing {

}

.typing-text::after {
  content: '|'; /* Cursor */
  animation: typing 0.5s infinite alternate;
}

.button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}


@media (max-width: 600px) {

  .menu-icon-x {
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    font-size: 10px;
    position: relative;
    margin-right: 140px;
  }

  .menu-icon {
    font-size: 20px;
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  

  .nav-elements {
    right: 0;
    top: 40px;
    width: 0;
    transition: all 0.3s ease-in;
    background-color: #ffffff;
    height: calc(100vh - 40px);
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-elements.active {
    width: 393px;
  }

  .nav-extentions {
    position:absolute;
    top: 0;
    z-index: 100;
    width: 150px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
    display:none;
    text-align: left !important;
    margin-left: 50px;
    background-color:white;
  }

  .nav {
    height: 50px;
  }

  .logo {
    margin-left: 30px;
    padding-bottom: 15px;
  }

  .search-bar-wrapper {
    width: 275px;
  }

  .selected-item-box {
    height: 20px;
  }


  .item-box {
    width: 61px;
  }

  .navtop {
    height: 50px;
    background-color: #008aff;
  }

  .adminnavbar {
    height: 20px;
  }

  .px50.my-mother.down-2 {
    font-size: 36px; /* Decrease font size for smaller screens */
  }

  .my-col-10.down-2 {
    display: flex;
    margin-right: 10px;
  }

  .my-col-6.down-5 {
    width: 100%; /* Full width for smaller screens */
    text-align: center; /* Center the content */
  }

  .img-container {
    text-align: center; /* Center the image */
  }

  .bg-landing {
    max-width: 100%;
    height: 250px;
  }

  .text-g {
    width: 300px;
    margin-left: 5px;

  }

  .submit-btn {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50px;
    margin-right: 10px;
    margin-top: 38px;
    line-height: 30px;
    height: 38px;
  }

  .search-box {
    margin-top: 40px;
    width: 300px;
  }

  .about-text {
    text-align: justify;
    margin-right: 30px;

  }

  .gene-what {
    text-align: justify;
    margin-right: 30px;
  }

  .solution {
    margin-right: 30px;
  }


  .text {
    text-align: justify;
    margin-left: 30px;
  }

  .zedphoto {
    width: 100%;
    background-color: #008aff;
    background-repeat: no-repeat;
    background-size: cover;


  }

  .research-textt {
    text-align: justify;
  }

  .image-research {
    width: 300px;
  }

  .world {
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    float: left;
  }

  .accordionplus {
    width: 330px;
  }

  .accordionplus-header {
    height: 40px;
  }

  .research2 {
    width: 300px;
    margin-left: 15px;
  }

  .lab {
    width: 200px;
    margin-left: 50px;
  }

  .justify {
    text-align: justify;
    padding-right: 30px;
  }

  .italise {
    font-style: italic;
  }

  .yahaya {
    width: 200px;
  }

  .about {
    margin-top: 30px;
    color: white;
  }

  .text-about {
    margin-right: 20px;
    margin-left: 20px;
    width: 90%;
  }

  .margin-top {
    margin-top: 60px;
    margin-right: 20px;
  }

  .team-item {
    margin-left: 40px;
    margin-right: 40px;
    height: 50vh;
  }

  .y-container {
    width: 60%;
    position: relative;
    float: left;
    margin-left: 20%;
  }

  .resd {
    width: 250px;
  }


  .circle {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #007bff
  }

  .bmetext {
    width: 300px;
  }

  .genetext {
    width: 350px;
  }

  .linkk {
    margin-bottom: 30px;
    text-align: left;
    margin-left: 30px;

  }



}

.frontbox {
  width: 300px;
  height: 150px;
  background-color: #000000;
  border-radius: 20px;
  margin-left: 47px;
 }

 .icondown {
  margin-top: 0;
 }

 .greenbox {
  width: 300px;
  height: 150px;
  border-radius: 20px;
  margin-left: 49px;
  background-color: #cde966;
 }

 .purplebox {
  width: 300px;
  height: 150px;
  background-color: #B99FEA;
  border-radius: 20px;
  margin-left: 49px;
 }

 .yellowfrontbox {
  width: 300px;
  height: 150px;
  border-radius: 20px;
  margin-left: 49px;
  background-color: #FF9211;
 }

 .darkgreenbox {
  width: 300px;
  height: 150px;
  border-radius: 20px;
  margin-left: 49px;
  background-color: #005344;
 }

 .redbox {
  width: 300px;
  height: 150px;
  background-color: #95120B;
  border-radius: 20px;
  margin-left: 49px;
 }

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  transition: border-color 0.3s;
  margin-left: 35px;
}

.input-area > div {
  margin: 10px 0; /* Add 10px margin between form elements */
}

.input-area {
  margin-top: 20px;
}

/* Mobile styles (max-width: 767px) */
@media (max-width: 767px) {
  .button {
    margin-left: 35px; /* Margin for mobile */
  }
}

/* Desktop styles (min-width: 768px) */
@media (min-width: 768px) {
  .button {
    margin-left: 372px; /* Margin for desktop */
  }
}